---
import Layout from '../../../layouts/Layout.astro';

const title = "Compare Local Outfitters";
---

<Layout title={title} noindex={true}>
  <h1>{title}</h1>
  <p>
    Our full outfitter comparison table is coming soon. In the
    meantime, head back to the
    <a href="/outdoors/fishing/">fishing hub</a> for more on planning
    your trip.
  </p>
</Layout>